


.dapp-category{
    display: flex;
    width: 150px;
    min-width: 47%;
    height: 64px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-left: 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.dapp-category:nth-child(even) {
    margin-right: 0px;
}

.dapp-category-icon {
    font-size: 32px;
    font-size: 32px;
    line-height: 32px;
    width: 32px;
    height: 32px;
}

.dapp-category-name {
    margin-left: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #24292E;
}

