.navbar {
    background-color: #ffffff;
    display: flex;
    flex: 1;
    flex-direction: row;
}
.navbar-back {
    position: absolute;
    margin: 20px;
}

.navbar h1{
    margin-top: 20px;
    display: flex;
    flex: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
}