.navbar {
    background-color: #ffffff;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 15px;
}
.navbar-back {
    position: absolute;
    margin: 16px;
    border: 0px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar h1{
    margin-top: 18px;
    display: flex;
    flex: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
}